.pagination>.active>a, 
.pagination>.active>span, 
.pagination>.active>a:hover, 
.pagination>.active>span:hover, 
.pagination>.active>a:focus, 
.pagination>.active>span:focus
  background-color: #fff
  border-color: #fff
  color: #f00
.pagination
  li>a
    margin: 0 2px
    border-radius: 0
    color: #999
  li.disabled
    span
      cursor: not-allowed