doctype html
html(lang="zh", ng-app="pagination-app")
  head
    title 分页Demo
    link(href="built/css/pagination.css")
  body
    div(ng-pagination)
    script(src="built/js/angular.min.js")
    script(src="built/js/pagination.js")
    script(src="built/js/app.js")